<ul class="comments">
    {% for comment in comments %}
    <li class="comment">

        <!-- 用户头像部分 -->
        <!-- 页面左侧显示评论者的小头像; 将头像渲染成链接，指向评论者的资料页面 -->
        <div class="comment-thumbnail">
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=comment.author.avatar_hash_2) }}" alt="头像" /> 
            </a>
        </div>

        <!-- 实体文字内容部分 -->
        <div class="comment-content">

            <!-- 评论者用户名 -->
            <div class="comment-author">
                <a href="{{ url_for('main.user', 
                username=comment.author.username) }}">{{ comment.author.username }}
                </a>
            </div>
      
            
            <!-- 仿贴吧的楼层和日期 -->
            <span>
                <small>第{{comment.float_id}}楼 ·</small>
            </span>

            <span>
                <small>{{ moment(comment.timestamp).format('MM-DD') }}</small>
            </span>

            <!-- 在模板中使用评论内容的HTML格式-->
            <div class="comment-body">
           
                <!-- 不对普通用户显示不当评论 -->
                {% if comment.disabled %}
                    <p><i>此评论已被版主禁用</i></p><!-- 段落、斜体 -->
                {% endif %}
                
                <!--1、向协管员显示所有评论，不管评论是否被标记为有问题
                    2、向普通用户显示非不当评论 -->
                {% if moderate or not comment.disabled %}
                    <!-- Markdown格式文本存在，就渲染Markdown格式文本 -->
                    {% if comment.body_html %}
                      <p>回复{{ comment.relayedname(parent_childs) }}：{{ comment.body_html | safe }}</p>
                    <!-- 如果没有Markdown格式，渲染普通内容 -->
                    {% else %}
                      <p>回复{{ comment.relayedname(parent_childs) }}：{{ comment.body }}</p>
                    {% endif %}   
                {% endif %}
                  
            </div>
            
            <!-- 模板变量moderate的值为True的情况下 -->
            {% if moderate %}
                <br />
                <!-- 协管员可以切换评论状态，间接选择是否向普通用户显示该条评论 -->
                {% if comment.disabled %}
                    <a class="btn btn-default btn-xs" href="{{ url_for('main.moderate_enable', 
                    id=comment.id, page=page) }}">开放评论</a>
                {% else %}
                    <a class="btn btn-danger btn-xs" href="{{ url_for('main.moderate_disable', 
                    id=comment.id, page=page) }}">禁用评论</a>
                {% endif %}

            {% endif %}

            <!-- 在页脚设置评论链接 -->
            <div class="comment-footer">
              
              <!-- 针对评论的评论链接 -->
              <a href="{{ url_for('main.commenttocomment', id=comment.id) }}">
                <span class="iconfont like">&#xe7ac;</span></a> <!-- 应用阿里回复图标 -->

              <!-- 对评论点赞的链接 -->
              <a href="{{ url_for('main.zancomment', id=comment.id)}}">
                <span class="iconfont like">&#xe610;</span></a> <!-- 应用阿里点赞图标 -->

              <!-- 对评论的赞计数 -->
              {% if comment.zans.count() == 0 %}
                <span><small>赞取消</small></span>
              {% else %}
                {{ comment.zans.count() }}
              {% endif %}

              <!-- 对评论取消点赞的链接 -->
              <a href="{{ url_for('main.cancelzancomment', id=comment.id) }}">
                <span class="iconfont like1">&#xe645;</span></a> <!-- 应用阿里取消赞图标 -->

              <!-- 删除评论 -->
              {% if current_user == comment.author %}
                <a href="{{ url_for('main.cancelcomment', id=comment.id) }}"><small>删除</small></a>
              {% endif %}

            </div>
        </div>

    </li>
    {% endfor %}
</ul>

<!-- 
HTML<span>元素是行内元素，能够用作文本的容器
设置<span>元素的类，能够为相同的<span>元素设置相同的样式
-->

