<ul class="comments">
    {% for comment in comments %}
    <li class="comment">

        <div class="comment-thumbnail">
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=comment.author.avatar_hash_2) }}" alt="头像" /> 
            </a>
        </div>

        <div class="comment-content">

            <div class="comment-author">
                <a href="{{ url_for('main.user', 
                username=comment.author.username) }}">{{ comment.author.username }}
                </a>
            </div>
 
            <span>
                <small>第{{comment.float_id}}楼 ·</small>
            </span>

            <span>
                <small>{{ moment(comment.timestamp).format('MM-DD') }}</small>
            </span>

           
            <div class="comment-body">
           
                
                {% if comment.disabled %}
                    <p><i>此评论已被版主禁用</i></p>
                {% endif %}
                
               
                {% if moderate or not comment.disabled %}
                    
                    {% if comment.body_html %}
                      <p>回复{{ comment.relayedname(parent_childs) }}：{{ comment.body_html | safe }}</p>
                    {% else %}
                      <p>回复{{ comment.relayedname(parent_childs) }}：{{ comment.body }}</p>
                    {% endif %}   
                {% endif %}
                  
            </div>
            
           
            {% if moderate %}
                <br />
                {% if comment.disabled %}
                    <a class="btn btn-default btn-xs" href="{{ url_for('main.moderate_enable', 
                    id=comment.id, page=page) }}">开放评论</a>
                {% else %}
                    <a class="btn btn-danger btn-xs" href="{{ url_for('main.moderate_disable', 
                    id=comment.id, page=page) }}">禁用评论</a>
                {% endif %}

            {% endif %}

            
            <div class="comment-footer">
              
             
              <a href="{{ url_for('main.commenttocomment', id=comment.id) }}">
                <span class="iconfont like">&#xe7ac;</span></a>

              
              <a href="{{ url_for('main.zancomment', id=comment.id)}}">
                <span class="iconfont like">&#xe610;</span></a> 

             
              {% if comment.zans.count() == 0 %}
                <span><small>赞取消</small></span>
              {% else %}
                {{ comment.zans.count() }}
              {% endif %}

             
              <a href="{{ url_for('main.cancelzancomment', id=comment.id) }}">
                <span class="iconfont like1">&#xe645;</span></a> 

             
              {% if current_user == comment.author %}
                <a href="{{ url_for('main.cancelcomment', id=comment.id) }}"><small>删除</small></a>
              {% endif %}

            </div>
        </div>

    </li>
    {% endfor %}
</ul>



