{% extends "base.html" %}
{% import "main/_macros.html" as macros %}

{% block title %}Python自习室 - {{ user.username }}的{{ title }} {% endblock %}

{% block page_content %}
<div class="page-header">
   <h4><small>他的{{ title }}</small></h4>
</div>


<table class="table table-hover faners">
   <thead><tr><th class="fancy">User</th><th class="fancy">Since</th></tr></thead>

    {% for fan in fans %}
    {% if fan.user != user %}
   <tr>
       <td class="orange">
           <a class="status" href="{{ url_for('main.user', username = fan.user.username) }}">
               <img class="img-rounded" src="{{ url_for('static', filename=fan.user.avatar_hash_2) }}" alt="头像">
                {{ fan.user.username }}
           </a>
       </td>
       <td class="orange">{{ moment(fan.timestamp).format('L') }}</td>
   </tr>
    {% endif %}
    {% endfor %}
</table>

<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>

{% endblock %}
