{% extends "base.html" %}
{% import "main/_macros.html" as macros %}

{% block title %}Python自习室 - {{ user.username }}的{{ title }} {% endblock %}

{% block page_content %}
<div class="page-header">
    <h4><small>他的{{ title }}</small></h4>
</div>

<!-- 两列表格， 左边一列显示偶像的用户名和头像，右边一列显示时间戳 -->
<table class="table table-hover idolers">
    <thead><tr><th class="fancy">User</th><th class="fancy">Since</th></tr></thead>
    {% for idol in idols %}
    {% if idol.user != user %} <!-- 不在偶像队伍显示自己 -->
    <tr>
        <td class="orange">
            <a class="status" href="{{ url_for('main.user', username = idol.user.username) }}">
                <img class="img-rounded" src="{{ url_for('static', filename=idol.user.avatar_hash_2) }}" alt="头像">
                {{ idol.user.username }}
            </a>
        </td>
        <td class="orange">{{ moment(idol.timestamp).format('L') }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>

{% endblock %}

