{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}  

{% import "main/_macros.html" as macros %}


{% block page_content %}

{% if current_user.is_authenticated %}
    <h4><span class="iconfont">&#xe644;</span><small>博客圈</small></h4>
    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li{% if not show_idols %} class="active"{% endif %}>
                <a href="{{ url_for('main.show_all') }}">所有</a>
            </li>
            <li{% if show_idols %} class="active"{% endif %}>
                <a href="{{ url_for('main.show_idols') }}">关注</a>
            </li>
        </ul>
        {% include 'main/_posts.html' %}
    </div>
    
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>

{% else %}
   
    <p style="font-family:cursive">梦想有可能成为现实，生活正是因此而有趣</p>
    
    <div>
        <img src="{{ url_for('static', filename='panda.png') }}" title="人生苦短,我学Python" />
    </div><br /><br /><br />
  
{% endif %}


<div class="footer">

  <div class="container">

    <p><small>&copy; 2019 &nbsp;<span class="iconfont">&#xe63a;</span> &nbsp; Shape</small></p>
    <p><small><a href="#" target="_blank" rel="nofollow">苏ICP备20190917-1</a></small></p>
    <span id="busuanzi_container_site_pv">
      <small>本站总访问量<span class="line" id="busuanzi_value_site_pv"></span></small>&nbsp;
    </span>
    <span id="busuanzi_container_site_uv">
      <small>本站访客数<span id="busuanzi_value_site_uv"></span></small>
    </span>

  </div>

</div>



{% endblock %}

<!-- Flask-PageDown模板声明 -->
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

