{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h5>It's the possibility of having a dream come true that makes life interesting<h5>   
    </div>
    
    <img src="https://cdn.pixabay.com/photo/2016/12/08/15/45/panda-1892023_960_720.png"  alt="程序员" width="320" title="人生苦短,我学Python"/>
<br/><br/>
<p class="text-info">local date and time: {{ moment(current_time).format('LLL') }}.</p>
<p class="text-info">that was: {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}
