{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}Python自习室 - 查评{% endblock %}

{% block page_content %}
    
   
    {% include 'main/_posts.html' %}
      
    <h4 id="comments"><small>{{ num }}条评论</small></h4>

    {% include 'main/_comments.html' %}
    
    {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.post', fragment='#comments', id=posts[0].id) }}
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
