{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}  
{% import "main/_macros.html" as macros %}

{% block title %}Python自习室 - 文章{% endblock %}

{% block page_content %}
    
<h4><small>{{ num }}条文章</small><span class="iconfont">&#xe624;</span></h4>
<br/>
  
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        
       
        <div class="profile-thumbnail">
            
            <a href="{{ url_for('main.user', username=post.author.username)}}">
            
                <img class="img-circle profile-thumbnail" src="{{ url_for('static', filename=post.author.avatar_hash_2) }}" alt="头像" />
           
            </a>
            
        </div>
        
     
        <div class="post-content-head">

            {% if post.top %}
                <div class="post-top">
                    <span class="iconfont">&#xe786;</span>
                </div>
            {% endif %}

            <div class="post-author">
            <a href="{{ url_for('main.user', username=post.author.username)}}">
            {{ post.author.username }}
            </a>
            </div>

        </div>
        
        <div class="post-content-boby">
         
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>

           
            <div class="post-date1">
                <small>{{ moment(post.timestamp).format('YYYY-MM-DD') }}</small>&nbsp;
                
            </div>


          
            <div class="post-footer">

               
                <a class="line" href="{{ url_for('main.post', id=post.id) }}">
                查看</a>

               
                <a class="line" href="{{ url_for('main.post', id=post.id) }}#comments">{{ post.comments.count() }}评论</a>

               
                {% if current_user == post.author %}
                    <a class="line" href="{{ url_for('main.edit', 
                    id=post.id) }}">编辑</a>

                    {% if post.top %}
                      <a class="line" href="{{ url_for('main.notop', 
                      id=post.id, username=post.author.username) }}">取消置顶</a>
                    {% else %}
                      <a class="line" href="{{ url_for('main.istop', id=post.id, 
                      username=post.author.username) }}">置顶</a>
                    {% endif %}

                    <a class="text-danger line" href="{{ url_for(
                   'main.delete', username=post.author.username, id=post.id) }}"
                    >删除</a>

              
                {% elif current_user.is_administrator() %}
                <a class="text-warning line" href="{{ url_for('main.edit', 
                    id=post.id) }}">编辑[Admin]</a>

                    {% if post.top %}
                      <a class="line" href="{{ url_for('main.notop', 
                      id=post.id, username=post.author.username) }}">取消置顶</a>
                    {% else %}
                      <a class="line" href="{{ url_for('main.istop', id=post.id, 
                      username=post.author.username) }}">置顶</a>
                    {% endif %}

                    <a class="text-danger line" href="{{ url_for('main.delete', 
                        username=post.author.username, id=post.id) }}">删除</a>

                {% endif %}

            </div>
        </div>
    </li>     
    {% endfor %}
  
</ul>
            
    <div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.posts', username=user.username) }}
    </div>

{% endblock %}


