{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}  

{% block title %}Python自习室 - 视频{% endblock %}

{% block page_content %}


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~1.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第1集 最爱玩跳泥坑游戏</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~2.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第2集 恐龙先生弄丢了</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~3.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第3集 最好的朋友</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~4.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第4集 鹦鹉波莉</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~5.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第5集 乔治，你在哪里？</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~6.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第6集 乔治第一天上幼儿园</div>
    </div>

{% endblock %}

