{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}  
<!-- 用Bootstrap预定义表单样式渲染整个Flask-WTF表单 -->
<!-- wtf.quick_form()函数的参数为Flask-WTF表单对象 -->

{% block title %}Python自习室 - 视频{% endblock %}

{% block page_content %}


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~1.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第1集 最爱玩跳泥坑游戏</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~2.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第2集 恐龙先生弄丢了</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~3.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第3集 最好的朋友</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~4.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第4集 鹦鹉波莉</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~5.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第5集 乔治，你在哪里？</div>
    </div>


    <div class="videos">
        <video src="{{ url_for('static', filename='videos/peppa.pig.480P~6.Ogg') }}" width="200" height="150" controls="controls">
        您的浏览器不支持视频标记
        </video>
        <div class="desc">第6集 乔治第一天上幼儿园</div>
    </div>

{% endblock %}

<!-- HTML5 使用 JavaScript 来存储和访问数据 -->
<!-- HTML5 提供了两种在客户端存储数据的新方法：
     localStorage - 没有时间限制的数据存储
     sessionStorage - 针对一个 session 的数据存储-->
<!-- 对用户访问页面的次数进行计数 -->
{% block scripts %}
{{ super() }}
<script type="text/javascript">
if (localStorage.pagecount)
  {localStorage.pagecount=Number(localStorage.pagecount) +1;}
else
  {localStorage.pagecount=1;}
document.write("A区受访次数: "+ localStorage.pagecount + "次");
</script>
{% endblock %}

