
{% extends "bootstrap/base.html" %}

{% block title %}Python自习室{% endblock %}

{% block head %}

{{ super() }}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}">

<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
{% endblock %}


{% block navbar %}

<div class="navbar navbar-default navbar-static-top" role="navigation"> 
    <div class="container">
        
       
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='favicon.ico') }}"/></a>
        </div>

      
        <div class="navbar-collapse collapse">
           
            <ul class="nav navbar-nav">

                
                <li><a href="/"><span class="iconfont">&#xe60d;</span>首页</a></li>

               
                {% if current_user.can(Permission.MODERATE) %}
                    <li><a href="{{ url_for('main.moderate') }}">管理评论</a></li>
                {% endif %}

              
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     论坛<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.video') }}">视频(relax)</a></li>
                        <li><a href="{{ url_for('main.display_document') }}">资料(study)</a></li>
                    </ul>
                </li>
                
              
                <li><a href="{{ url_for('main.search') }}"><span class="iconfont like">&#xe62b;</span>搜索</a></li>
            </ul>

         

            <ul class="nav navbar-nav navbar-right"> 
              
             
              {% if current_user.is_authenticated %}
                
                  <li><a href="{{ url_for('main.write_post') }}">
                    <span class="iconfont like">&#xe607;</span>写博客</a>
                  </li>

                  
                  <li class="dropdown"> 

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                      aria-haspopup="true" aria-expanded="false">
                      <img class="img-circle" src="{{ url_for('static',    
                      filename=current_user.avatar_hash_2) }}" alt="头像"/><span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        
                        <li><a href="{{ url_for('main.user', username=current_user.username)}}">
                        <span class="iconfont like">&#xe659;</span> 个人中心</a></li>
                       
                        <li><a href="{{ url_for('auth.change_email_request') }}">
                        <span class="iconfont like">&#xe642;</span> 修改email</a></li>

                        <li><a href="{{ url_for('auth.change_password') }}">
                        <span class="iconfont like">&#xe7dc;</span> 修改密码</a></li>
                       
                        <li><a href="{{ url_for('auth.logout') }}">
                        <span class="iconfont like">&#xe64b;</span> 退出</a></li> 
                        
                    </ul>

                  </li>
            
              {% else %}
                  <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                  <li><a href="{{ url_for('auth.register') }}">注册</a></li>
              {% endif %}

            </ul>
        </div>

    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">

   
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}
        </div>
    {% endfor %}

    
    {% block page_content %}{% endblock %}

</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.locale('zh-cn') }}
{% endblock %}
